.navBar {
  width: 250px; /* Fixed width */
  min-height: 100vh; /* Full height */
  background-color: #2c3e50; /* Dark background */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.menuNav {
  list-style: none;
  padding: 0;
}

.menuNav li {
  margin: 20px 0;
}

.menuNav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: block;
  padding: 10px;
}

.menuNav a.active {
  background-color: #34495e;
  border-radius: 5px;
}
